.barra {
    background-color: #282a35;
    display: flex;
    float: left;
    width: 25vh;
    height: 150vh;
    flex-direction: column;
    font-size: 25px;
  }
  .user {
    margin-top: 3vh;
    margin-left: 8vh;
  }
  .icon {
    margin-right: 1vh;
  }
  .links {
    margin-left: 1vh;
    margin-bottom: 2vh;
    text-decoration: none;
    padding: 13px;
    color: white;
  }
  .logo {
    margin-top: 7vh;
    width: 100%;
    border-bottom: solid 2px white;
    color: white;
  }
  
  .welcome {
    text-align: center;
    color: rgb(141, 138, 138);
  }
  .sticky {
    width: 100%;
    background-color: rgb(192, 189, 189);
  }
  .title {
    margin-left: 20vh;
    color: rgb(131, 127, 127);
    padding: 4vh;
    margin-left: 30vh;
  }
  
  .iconoff {
    text-decoration: none;
    color: rgb(82, 73, 73);
    float: right;
    cursor: pointer;
    
  }
  