.container{
    margin-left: 40vh;
}
.bloc{
    border: solid 2px rgb(181, 175, 175);
    height: 20vh;
}
.bloco{
    border: solid 2px black;
    width: 50vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-top: 5vh;
}
.bloco_nome{
    text-transform: uppercase;
    font-size: 3vh;
    margin-bottom: 3vh;
}
.abrir{
    text-decoration: none;
    background-color: rgb(149, 150, 228);
    color: black;
    border-radius: 8px;
    padding: 0.8vh; 
}
.abrir:hover{
    color: white;
    border: solid 2px black;
}
.tudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}