.container{
    margin-left: 40vh;
    
    
}

.container_f{
    margin-left: 27vh;
    
    
}
.container_fornecedor{
    display: flex;
    width: 90vh;
}
.bloc{
    border: solid 2px rgb(181, 175, 175);
    height: 23vh;
}
.bloco{
    border: solid 2px black;
    width: 45vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-top: 5vh;
}
.bloco_nome{
    text-transform: uppercase;
    font-size: 3vh;
    margin-bottom: 1vh;
    border-bottom: solid 2px black;
}
.detalhes{
    font-size: 17px;
    font-style: italic;
}
.abrir{
    text-decoration: none;
    background-color: rgb(175, 124, 35);
    color: black;
    border-radius: 8px;
    padding: 0.8vh; 
}
.abrir:hover{
    color: white;
    border: solid 2px black;
}
.tudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkb{
    border: solid 1px black;
    font-size: 20px;
    width: 30vh;
}
.checkbox{
    margin-left: 4vh;
    cursor: pointer;
}


.func_button{
    margin-left: 25vh;
    text-decoration: none;
    font-size: 30px;
    border: solid 2px black;
    
    padding-right: 20vh;
    padding-left: 20vh;
    text-align: center;
    align-items: center;
    background-color: rgb(72, 73, 72);
    color: white;
    border-radius: 8px;
}
.func_button:hover{
    color: rgb(175, 124, 35);
}

.icon_func{
    margin-left: 6vh;
}

.bloco_A{
    border: solid 2px black;
    width: 25vh;
    margin-top: 5vh;
    text-align: center;
}
.bloc_A{
    align-items: center;
    height: 13vh;
}
.container_forn{
    float: right;
    
    margin-right: 20vh;
}

.tudao{
    display: flex;
    margin-left: 40vh;
}
.tab_prod{
    margin-top: 5vh;
    width: 25vh;
}
.tab{
    border: solid 1px black;
    width: 28vh;
}